terratowns_endpoint="https://terratowns.cloud/api"
fitness = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/fitness"
  content_version = 2 
}
bbq = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/bbq"
  content_version = 1 
}